<% @body_class = "document-index" %>
<h1>Enter your documents</h1>

<% if params[:count].to_i > 0 %>
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <%= "Import #{params[:count]} new key pair!" %>
  </div>
<% end %>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">Mã hóa bộ đơn</a></li>
  <li><a data-toggle="tab" href="#menu1">Mã hóa bộ đôi</a></li>
  <li><a data-toggle="tab" href="#menu2">Import bộ đôi</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <%= form_for @document, class: "form-group" do |f| %>
      Title: <%= f.text_field :title, class: "form-control" %>
      Content: </br> <%= f.text_area :content, size: "100x20", class: "form-control" %>
      <br/>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>
  <div id="menu1" class="tab-pane fade">
    <%= form_for @document, class: "form-group" do |f| %>
      Title: <%= f.text_field :title, class: "form-control" %>
      Content: </br> <%= f.text_area :content, size: "100x20", class: "form-control" %>
      <%= hidden_field_tag :type, "pair" %>
      <br/>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>
  <div id="menu2" class="tab-pane fade">
    <%= form_for @document, class: "form-group" do |f| %>
      Link:  <%= text_field_tag :link, "", size: "100px", class: "form-control" %>
      Start ID <%= number_field_tag :start_id, 1, class: "form-control" %>
      End ID <%= number_field_tag :end_id, 0, class: "form-control" %>
      <br/>
      <%= f.submit class: "btn btn-primary import_data" %>
    <% end %>
  </div>
</div>

<h2> List document </h2>
<table class="table">
  <% Document.all.each do |document| %>
    <tr>
      <td><%= link_to document.title || "Demo", document_path(document) %></td>
      <td><%= link_to 'Delete',  document,  method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

<div id="myModal" class="modal fade in" role="dialog" aria-hidden="false" style="display: block;">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
        <h4 class="modal-title">Loading...</h4>
      </div>
      <div class="modal-body" style="text-align: center;">
        <%= image_tag "loading.gif" %>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>
<div class="modal-backdrop fade in"></div>